<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- Do not rename this variable: it is referenced from the code -->
  <variable name="logDir" value="${specialfolder:folder=CommonApplicationData}/AddUp/ScanPlayer/log" />
  <targets async="true">
    <target name="file" xsi:type="File"
            layout="${longdate}|${assembly-version}|${pad:padding=-5:inner=${level:uppercase=true}}|${pad:padding=-24:fixedLength=True:alignmentOnTruncation=right:inner=${threadname}}[${pad:padding=3:fixedLength=True:inner=${threadid}}]|${pad:padding=-90:fixedLength=True:alignmentOnTruncation=right:inner=${logger}}|${message}${onexception:inner=${newline}${exception:format=tostring}}"
            fileName="${var:logDir}/scanplayer.log"
            archiveFileName="${var:logDir}/archives/scanplayer.{#}.log"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="5000000"
            archiveDateFormat="yyyyMMdd"
            archiveOldFileOnStartup="false"
            maxArchiveFiles="50"
            keepFileOpen="true"
            encoding="utf-8" />

    <!--<target name="scanfile" xsi:type="File"
            layout="${longdate}|${assembly-version}|${pad:padding=-5:inner=${level:uppercase=true}}|${pad:padding=-24:fixedLength=True:alignmentOnTruncation=right:inner=${threadname}}[${pad:padding=3:fixedLength=True:inner=${threadid}}]|${pad:padding=-90:fixedLength=True:alignmentOnTruncation=right:inner=${logger}}|${message}${onexception:inner=${newline}${exception:format=tostring}}"
            fileName="${var:logDir}/scanplayer-scan.log"
            archiveFileName="${var:logDir}/archives/scanplayer-scan.{#}.log"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="5000000"
            archiveDateFormat="yyyyMMdd"
            archiveOldFileOnStartup="false"
            maxArchiveFiles="50"
            keepFileOpen="true"
            encoding="utf-8" />-->
  </targets>

  <rules>
    <logger minlevel="Trace" writeTo="file" />
    <!--<logger name="AddUp.NCore.Server.Scan*" writeTo="scanfile"/>
    <logger name="AddUp.NCore.Scan*" writeTo="scanfile" />-->
  </rules>

  <!--<target name="file" xsi:type="File"
       layout="${longdate}|${assembly-version}|${pad:padding=-5:inner=${level:uppercase=true}}|${pad:padding=-24:fixedLength=True:alignmentOnTruncation=right:inner=${threadname}}[${pad:padding=3:fixedLength=True:inner=${threadid}}]|${pad:padding=-40:fixedLength=True:alignmentOnTruncation=right:inner=${logger}}|${message}${onexception:inner=${newline}${exception:format=tostring}}"
       fileName="${var:logDir}/scanplayer.log"
       archiveFileName="${var:logDir}/archives/scanplayer.{#}.log"
       archiveEvery="Day"
       archiveNumbering="DateAndSequence"
       archiveAboveSize="5000000"
       archiveDateFormat="yyyyMMdd"
       archiveOldFileOnStartup="true"
       maxArchiveFiles="50"
       keepFileOpen="true"
       encoding="utf-8" />-->

</nlog>
