<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- Do not rename this variable: it is referenced from the code -->
  <variable name="logDir" value="${specialfolder:folder=CommonApplicationData}/AddUp/ScanPlayerA/log" />
  <targets async="true">
    <target name="console" xsi:type="ColoredConsole"
            layout="${time}|${pad:padding=-1:fixedLength=True:alignmentOnTruncation=left:inner=${level:uppercase=true}}|${pad:padding=-22:fixedLength=True:alignmentOnTruncation=right:inner=${threadname}}[${pad:padding=3:fixedLength=True:inner=${threadid}}]|${pad:padding=-28:fixedLength=True:alignmentOnTruncation=right:inner=${logger}}|${message}${onexception:inner=${newline}${exception:format=tostring}}" />
    <target name="file" xsi:type="File"
            layout="${longdate}|${assembly-version}|${pad:padding=-5:inner=${level:uppercase=true}}|${pad:padding=-24:fixedLength=True:alignmentOnTruncation=right:inner=${threadname}}[${pad:padding=3:fixedLength=True:inner=${threadid}}]|${pad:padding=-90:fixedLength=True:alignmentOnTruncation=right:inner=${logger}}|${message}${onexception:inner=${newline}${exception:format=tostring}}"
            fileName="${var:logDir}/scanplayer.log"
            archiveFileName="${var:logDir}/archives/scanplayer.{#}.log"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="5000000"
            archiveDateFormat="yyyyMMdd"
            archiveOldFileOnStartup="true"
            maxArchiveFiles="50"
            keepFileOpen="true"
            encoding="utf-8" />
    <target name="avalonia" xsi:type="File"
            layout="${longdate}|${assembly-version}|${pad:padding=-5:inner=${level:uppercase=true}}|${pad:padding=-24:fixedLength=True:alignmentOnTruncation=right:inner=${threadname}}[${pad:padding=3:fixedLength=True:inner=${threadid}}]|${pad:padding=-90:fixedLength=True:alignmentOnTruncation=right:inner=${logger}}|${message}${onexception:inner=${newline}${exception:format=tostring}}"
            fileName="${var:logDir}/scanplayer.avalonia.log"
            archiveFileName="${var:logDir}/archives/scanplayer.avalonia.{#}.log"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="5000000"
            archiveDateFormat="yyyyMMdd"
            archiveOldFileOnStartup="true"
            maxArchiveFiles="50"
            keepFileOpen="true"
            encoding="utf-8" />
  </targets>

  <rules>
    <logger minlevel="Debug" writeTo="console" />
    <logger name="Avalonia*" minlevel="Info" writeTo="file" />
    <logger name="Avalonia*" minlevel="Trace" writeTo="avalonia" final="true" />
    <logger minlevel="Trace" writeTo="file" />
  </rules>
</nlog>
