<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Vertical">
    <LayoutPanel Orientation="Horizontal">
      <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="240">
        <LayoutAnchorablePane Id="faaabd4f-51b1-490d-a741-08e2b024007a" DockWidth="240">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Scene Options" IsSelected="True" ContentId="SceneOptionsWindow" CanClose="False" LastActivationTimeStamp="10/28/2019 16:56:54" />
        </LayoutAnchorablePane>
        <LayoutAnchorablePane FloatingWidth="250" FloatingHeight="476" FloatingLeft="1205" FloatingTop="904">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Heads" IsSelected="True" ContentId="HeadsWindow" FloatingLeft="1205" FloatingTop="904" FloatingWidth="250" FloatingHeight="476" CanClose="False" LastActivationTimeStamp="10/28/2019 16:56:50" PreviousContainerId="faaabd4f-51b1-490d-a741-08e2b024007a" PreviousContainerIndex="1" />
        </LayoutAnchorablePane>
        <LayoutAnchorablePane FloatingWidth="250" FloatingHeight="240" FloatingLeft="1206" FloatingTop="1020">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Time" IsSelected="True" ContentId="TimeWindow" FloatingLeft="1206" FloatingTop="1020" FloatingWidth="250" FloatingHeight="240" CanClose="False" LastActivationTimeStamp="10/28/2019 16:56:52" PreviousContainerId="faaabd4f-51b1-490d-a741-08e2b024007a" PreviousContainerIndex="1" />
        </LayoutAnchorablePane>
      </LayoutAnchorablePaneGroup>
      <LayoutDocumentPaneGroup Orientation="Horizontal">
        <LayoutDocumentPane>
          <LayoutDocument Title="Scene" IsSelected="True" IsLastFocusedDocument="True" ContentId="SceneWindow" CanClose="False" LastActivationTimeStamp="10/28/2019 18:16:34" />
        </LayoutDocumentPane>
      </LayoutDocumentPaneGroup>
    </LayoutPanel>
    <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="130" FloatingWidth="250" FloatingHeight="161" FloatingLeft="1566" FloatingTop="1089">
      <LayoutAnchorablePane Id="0a9cc936-8a5c-47a5-b7ac-1f84fc0a43ee" DockHeight="130" FloatingWidth="250" FloatingHeight="161" FloatingLeft="1566" FloatingTop="1089">
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Log" IsSelected="True" ContentId="LogWindow" FloatingLeft="1566" FloatingTop="1089" FloatingWidth="250" FloatingHeight="161" CanClose="False" LastActivationTimeStamp="10/28/2019 18:16:39" />
      </LayoutAnchorablePane>
    </LayoutAnchorablePaneGroup>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>